<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henry.wordpad">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wordpad"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wordpad"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" />
        <activity android:name=".Education" />
        <activity android:name=".University" />
        <activity android:name=".About" />
        <activity android:name=".Edit" />
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Stock" />
        <activity android:name=".StockListActivity" />
        <activity android:name=".ListChange" />
        <activity android:name=".QSrank" />
        <activity android:name=".QSrank2" />
        <activity android:name=".QSrank3" />
        <activity android:name=".Game" />
        <activity android:name=".More"/>
        <activity android:name=".Dial"/>
    </application>

</manifest>